<!--
  Generated template for the EditLModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item>
    <ion-label color="primary">Ansprechperson</ion-label>
    <ion-input disabled="true" value="{{contactpersongivenname}} {{contactpersonsurname}}" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Kunde</ion-label>
    <ion-input disabled="true" value="{{customergivenname}} {{customersurname}}" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Beginn</ion-label>
    <ion-datetime displayFormat="DD.MM.YYYY, HH:mm" [(ngModel)]="startdate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Dauer</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="duration"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Projektnummer</ion-label>
    <ion-select  [(ngModel)]="prj_id" [(ngModel)]="projectname">
      <ion-option *ngFor="let item of project" value="{{item.PRJ_ID}}" selected="{{item.PRJ_ID == prj_id}}" (ngModelChange)="changeProject(item.PRJ_ID)">{{item.PRJ_ID}}, {{item.BEZEICHNUNG}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Kontaktart</ion-label>
    <ion-select [(ngModel)]="contacttype">
      <ion-option *ngFor="let item of contactTypeList" value="{{item.LST_ID}}" selected="{{item.LST_ID == contacttype}}" (ngModelChange)="changeContacttype($event, item.LST_ID)">{{item.BEZEICHNUNG}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Aufzeichnungsart</ion-label>
    <ion-select [(ngModel)]="recordtype">
      <ion-option *ngFor="let item of recordingtype" value="{{item.value}}" selected="{{item.text === recordtype}}">{{item.text}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Titel</ion-label>
    <ion-input [(ngModel)]="title" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="information-circle" item-left></ion-icon>
    <ion-label colour="primary" stacked>Notizen</ion-label>
    <ion-textarea rows="4" placeholder="Leistungsinformationen..." [(ngModel)]="notes"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button full color="default" class="btn-bottom" (click)="updateData()">
    Bestätigen
  </button>
  <button ion-button full color="light" class="btn-bottom" (click)="dismiss()">
    Abbrechen
  </button>
</ion-footer>