<!--
  Generated template for the LeistungErfassen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Ansprechperson wählen</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-searchbar fullscreen (ionInput)="getItems($event)" placeholder="Ansprechperson suchen..."></ion-searchbar>
    <ion-list fullscreen>
        <button ion-item *ngFor="let item of contactperson" (click)="itemSelected(item)">
            <ion-icon name="contact" item-left></ion-icon>
            <h2 color="primary">{{item.CONTACTPERSONGIVENNAME}} {{item.CONTACTPERSONSURNAME}}</h2>
            <h3>Kunde: {{item.MATCH_KND}}</h3>
        </button>
    </ion-list>
</ion-content>
