<!--
  Generated template for the DiaetKundeAuswaehlen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Kunde erfassen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar fullscreen (ionInput)="getItems($event)" placeholder="Kunde suchen..."></ion-searchbar>
  <ion-list fullscreen>
  <button ion-item *ngFor="let item of customers" (click)="itemSelected(item)">
    <ion-icon name="contact" item-left></ion-icon>
    <h2 color="primary">{{item.ZUNAME}} {{item.NAME2}}</h2>
    <h3>PLZ/Ort: {{item.PLZ}}, {{item.ORT}}</h3>
  </button>
</ion-list>
</ion-content>