<!--
  Generated template for the DiaetErfassen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Diät erfassen
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="contact" item-left></ion-icon>
          <ion-label color="primary">Kunde</ion-label>
          <ion-input type="text" text-right value="{{customer_zuname}} {{customer_name2}}" disabled="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="time" item-left></ion-icon>
          <ion-label color="primary">Beginn</ion-label>
          <ion-datetime text-right displayFormat="DD.MM.YYYY - HH:mm" [(ngModel)]="startDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon name="time" item-left></ion-icon>
          <ion-label color="primary">Ende</ion-label>
          <ion-datetime text-right displayFormat="DD.MM.YYYY - HH:mm" [(ngModel)]="endDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon name="car" item-left></ion-icon>
          <ion-label color="primary">Gefahrene Kilometer</ion-label>
          <ion-input type="number" text-right [(ngModel)]="kilometer" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon ios="ios-create" md="md-create" item-left></ion-icon>
          <ion-label color="primary">Titel</ion-label>
          <ion-input [(ngModel)]="title" text-right></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="information-circle" item-left></ion-icon>
          <ion-label stacked colour="primary">Notizen</ion-label>
          <ion-textarea rows="4" [(ngModel)]="description"></ion-textarea>
        </ion-item>
      </ion-list>
</ion-content>
<ion-footer>
  <button ion-button full color="default" class="btn-bottom" (click)="insertData()">
    Speichern
  </button>
  <button ion-button full color="light" class="btn-bottom" (click)="goBack()">
    Abbrechen
  </button>
</ion-footer>