
  <ion-list class="popOverList">
    <ion-item-divider>
      Einstellungen
    </ion-item-divider>
    <button ion-item detail-none (click)="goToAccountEinstellungen()">
      <ion-icon ios="ios-key" md="md-key"></ion-icon>
      <span class="popOverItemText">Account</span>
    </button>
    <button ion-item detail-none (click)="goToZeitEinstellungen()">
      <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
      <span class="popOverItemText">Zeiteinstellungen</span>
    </button>
    <button ion-item detail-none (click)="DeleteEinstellungen()" color="danger">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      <span class="popOverItemText">Alle Daten löschen</span>
    </button>
  </ion-list>

