<!--
  Generated template for the EditDModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="contact" item-left></ion-icon>
      <ion-label color="primary">Kunde</ion-label>
      <ion-input type="text" text-right value="{{givenname}} {{surname}}" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-left></ion-icon>
      <ion-label color="primary">Beginn</ion-label>
      <ion-datetime text-right displayFormat="DD.MM.YYYY - HH:mm" [(ngModel)]="startdate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-left></ion-icon>
      <ion-label color="primary">Ende</ion-label>
      <ion-datetime text-right displayFormat="DD.MM.YYYY - HH:mm" [(ngModel)]="enddate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon name="car" item-left></ion-icon>
      <ion-label color="primary">Gefahrene Kilometer</ion-label>
      <ion-input type="number" text-right [(ngModel)]="kilometer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon ios="ios-create" md="md-create" item-left></ion-icon>
      <ion-label color="primary">Titel</ion-label>
      <ion-input [(ngModel)]="title" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle" item-left></ion-icon>
      <ion-label stacked colour="primary">Notizen</ion-label>
      <ion-textarea rows="5" placeholder="Fügen Sie hier einige Information ein..." [(ngModel)]="notes"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button full color="default" class="btn-bottom" (click)="updateDRecord()">
    Bestätigen
  </button>
  <button ion-button full color="light" class="btn-bottom" (click)="dismiss()">
    Abbrechen
  </button>
</ion-footer>
