<!--
  Generated template for the LeistungLeistungsdetailsErfassen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Leistungsdetails erfassen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
  <ion-item>
    <ion-label color="primary">Ansprechperson</ion-label>
    <ion-input disabled="true" value="{{contactperson_vorname}} {{contactperson_nachname}}" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Kunde</ion-label>
    <ion-input disabled="true" value="{{customer_zuname}} {{customer_name2}}" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Beginn</ion-label>
    <ion-datetime displayFormat="DD.MM.YYYY, HH:mm" [(ngModel)]="startDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Dauer</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="duration"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Projektnummer</ion-label>
    <ion-select  [(ngModel)]="project_prj_id" [(ngModel)]="project_bezeichnung">
      <ion-option *ngFor="let item of project" value="{{item.PRJ_ID}}" (ngModelChange)="changeProject(item.PRJ_ID)">{{item.PRJ_ID}}, {{item.BEZEICHNUNG}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Kontaktart</ion-label>
    <ion-select [(ngModel)]="selectedContactType">
      <ion-option *ngFor="let item of contactTypeList" value="{{item.LST_ID}}" selected="{{item.LST_ID == 1}}" (ngModelChange)="changeContacttype($event, item.LST_ID)">{{item.BEZEICHNUNG}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Aufzeichnungsart</ion-label>
    <ion-select [(ngModel)]="selectedrecordingtype">
      <ion-option *ngFor="let item of recordingtype" value="{{item.value}}" selected="{{item.selected == true}}">{{item.text}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Titel</ion-label>
    <ion-input [(ngModel)]="title" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="information-circle" item-left></ion-icon>
    <ion-label colour="primary" stacked>Notizen</ion-label>
    <ion-textarea rows="1" [(ngModel)]="notes" (click)="toggleFooter()"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button full color="default" class="btn-bottom" (click)="insertData()">
    Speichern
  </button>
  <button ion-button full color="light" class="btn-bottom" (click)="goBack()">
    Abbrechen
  </button>
</ion-footer>