<!--
  Generated template for the Aufzeichnungen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Aufzeichnungen</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showCheckbox()">
        <ion-icon ios="ios-sync" md="md-sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="Aufzeichnungen">
      <ion-segment-button value="Leistungen">
        Leistungen
      </ion-segment-button>
      <ion-segment-button value="Diäten">
        Diäten
      </ion-segment-button>
      <ion-segment-button value="Synchronisiert">
        Synchronisiert
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="Aufzeichnungen">
      <ion-list *ngSwitchCase="'Leistungen'" >
        <ion-item-sliding *ngFor="let item of records">
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="clipboard" item-left></ion-icon>
            </ion-avatar>
            <h2>{{item.CONTACTPERSONGIVENNAME}} {{item.CONTACTPERSONSURNAME}}</h2>
            <h3><span color="primary">Projekt:</span> {{item.PRJ_ID}}, {{item.PROJECTNAME}}</h3>
            <h4><span color="primary">Titel:</span> {{item.TITEL}}</h4>
            <p>{{item.RECORDTYPE}} - {{item.DATE}}</p>
          </ion-item>
          <ion-item-options side="right" >
            <button ion-button color="primary" (click)="showEdit_l_Modal(item.A_L_ID, item.CONTACTPERSONGIVENNAME, item.CONTACTPERSONSURNAME, item.CUSTOMERGIVENNAME, item.CUSTOMERSURNAME, item.STARTDATE, item.ENDDATE, item.DURATION, item.PRJ_ID, item.TITEL, item.LST_ID, item.RECORDTYPE, item.NOTES, item.KLIENT_ID, item.KND_ID)">
              <ion-icon name="create"></ion-icon>
              Bearbeiten
            </button>
            <button ion-button color="danger" (click)="removeRecord(item.A_L_ID)">
              <ion-icon name="trash"></ion-icon>
              Löschen
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

  <div [ngSwitch]="Aufzeichnungen">
    <ion-list *ngSwitchCase="'Diäten'">
      <ion-item-sliding *ngFor="let item of dietrecords">
        <ion-item>
          <ion-avatar item-left>
            <ion-icon name="car" item-left></ion-icon>
          </ion-avatar>
          <h2>{{item.GIVENNAME}} {{item.SURNAME}}</h2>
          <h4><span color="primary">Titel:</span> {{item.TITLE}}</h4>
          <h4><span color="primary">Kilometer:</span> {{item.KILOMETER}}</h4>
          <p>{{item.RECORDTYPE}} - {{item.DATE_FROM2}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="showEdit_d_Modal(item.A_D_ID, item.GIVENNAME, item.SURNAME, item.KILOMETER, item.DATE_FROM, item.DATE_UNTIL, item.TITLE, item.NOTES)">
            <ion-icon name="create"></ion-icon>
            Bearbeiten
          </button>
          <button ion-button color="danger" (click)="removeDietRecord(item.A_D_ID)">
            <ion-icon name="trash"></ion-icon>
            Löschen
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <div [ngSwitch]="Aufzeichnungen">
    <ion-list *ngSwitchCase="'Synchronisiert'">
      <ion-item-sliding *ngFor="let item of allSynchronizedRecords">
        <ion-item *ngIf="item.LST_ID > 0">
          <ion-avatar item-left>
            <ion-icon name="clipboard" item-left></ion-icon>
          </ion-avatar>
          <h2>{{item.CONTACTPERSONGIVENNAME}} {{item.CONTACTPERSONSURNAME}}</h2>
          <h3><span color="primary">Projekt:</span>{{item.PRJ_ID}} {{item.PROJECTNAME}}</h3>
          <h4><span color="primary">Titel:</span> {{item.TITLE}}</h4>
          <p>{{item.RECORDTYPE}} - {{item.DATE_FROM1}}</p>
        </ion-item>
       <ion-item *ngIf="item.LST_ID == 0">
          <ion-avatar item-left>
            <ion-icon name="car" item-left></ion-icon>
          </ion-avatar>
          <h2>{{item.GIVENNAME}} {{item.SURNAME}}</h2>
          <h4><span color="primary">Titel:</span> {{item.TITLE}}</h4>
          <h4><span color="primary">Kilometer:</span> {{item.KILOMETER}}</h4>
          <p>{{item.RECORDTYPE}} - {{item.DATE_FROM1}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeSyncRecord(item.LST_ID, item.A_L_ID, item.A_D_ID)">
            <ion-icon name="trash"></ion-icon>
            Löschen
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>