<!--
  Generated template for the StammdatenInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Informationen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cards-bg">

  <ion-card class="cards-list-demo">
    <ion-card-header>
      <h1 color="primary">{{persongivenname}} {{personsurname}}</h1>
    </ion-card-header>

    <ion-list *ngIf="bezeichnung ==='CUS'">
      <ion-item>
        <ion-icon ios="ios-person" md="md-person" item-left></ion-icon>
        <b color="primary">KND_ID:</b> {{knd_id}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-bookmark" md="md-bookmark" item-left></ion-icon>
        <b color="primary">MATCH_KND:</b> {{match_knd}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-home" md="md-home" item-left></ion-icon>
        <b color="primary">ORT:</b> {{ort}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-map" md="md-map" item-left></ion-icon>
        <b color="primary">STRASSE:</b> {{strasse}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-navigate" md="md-navigate" item-left></ion-icon>
        <b color="primary">PLZ:</b> {{plz}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-call" md="md-call" item-left></ion-icon>
        <b color="primary">TELEFON:</b> {{telefon}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-contacts" md="md-contacts" item-left></ion-icon>
        <b color="primary">KONTAKTPERSON(EN):</b>
        <p *ngFor="let item of contactperson"><b>{{item.GIVENNAME}} {{item.SURNAME}}</b></p>
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-build" md="md-build" item-left></ion-icon>
        <b color="primary">KLIENT_ID:</b> {{klient_id}}
      </ion-item>
    </ion-list>

    <ion-list *ngIf="bezeichnung ==='CON'">
      <ion-item>
        <ion-icon ios="ios-person" md="md-person" item-left></ion-icon>
        <b color="primary">SID:</b> {{sid}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-at" md="md-at" item-left></ion-icon>
        <b color="primary">E-MAIL:</b> {{email}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-call" md="md-call" item-left></ion-icon>
        <b color="primary">MOBIL:</b> {{mobil}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-call" md="md-call" item-left></ion-icon>
        <b color="primary">MOBIL-PRIVAT:</b> {{mobil_privat}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-contact" md="md-contact" item-left></ion-icon>
        <b color="primary">KUNDE:</b> {{customergivenname}} {{customersurname}}
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-build" md="md-build" item-left></ion-icon>
        <b color="primary">KLIENT_ID:</b> {{klient_id}}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
