<!--
  Generated template for the Einstellungen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Einstellungen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <button ion-button full (click)="goToAccountEinstellungen()" class="large-button">Account</button>
  <button ion-button full (click)="goToZeitEinstellungen()" class="large-button">Zeiteinstellungen</button>
  <button ion-button full (click)="DeleteEinstellungen()" class="large-button" color="danger">Alle Daten löschen</button>
</ion-content>
