<!--
  Generated template for the EinstellungenZeit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Zeiten</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
  <ion-label color="primary">Dauer für Leistungen</ion-label>
  <ion-datetime displayFormat="HH:mm" [(ngModel)]="standardDurationLeistungen"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Dauer für Diäten</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="standardDurationDiaeten"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label stacked>Dauer der Anzeige gesendeter Aufzeichnungen</ion-label>
    <ion-select [(ngModel)]="showRecordsTime">
      <ion-option value="0">Nach Senden nicht mehr anzeigen</ion-option>
      <ion-option value="1">1 Tag</ion-option>
      <ion-option value="2">2 Tage</ion-option>
      <ion-option value="3">3 Tage</ion-option>
      <ion-option value="4">4 Tage</ion-option>
      <ion-option value="5">5 Tage</ion-option>
      <ion-option value="6">6 Tage</ion-option>
      <ion-option value="7">7 Tage</ion-option>
    </ion-select>
  </ion-item>

</ion-content>
<ion-footer>
  <button ion-button full color="default" class="btn-bottom" (click)="insertData()">
    Speichern
  </button>
  <button ion-button full color="light" class="btn-bottom" (click)="goBack()">
    Abbrechen
  </button>
</ion-footer>