<!--
  Generated template for the EinstellungenAccount page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item>
    <ion-label color="primary" stacked>Webservice Endpoint</ion-label>
    <ion-input [(ngModel)]="webserviceendpoint" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Klient_ID</ion-label>
    <ion-input [(ngModel)]="klient_id" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>User_ID</ion-label>
    <ion-input [(ngModel)]="user_id" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Datenbank_ID</ion-label>
    <ion-input [(ngModel)]="db_id" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Username</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Owner Name</ion-label>
    <ion-input [(ngModel)]="ownername" type="text"></ion-input>
  </ion-item>
  <ion-item [(hidden)]="ifValuesInMDUSER">
    <ion-label color="primary" stacked>Owner Password</ion-label>
    <ion-input [(ngModel)]="ownerpw" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Devicenumber</ion-label>
    <ion-input [(ngModel)]="devicenumber" type="text"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <button ion-button full color="default" class="btn-bottom" (click)="insertData()">
    Speichern
  </button>
</ion-footer>