<!--
  Generated template for the Stammdaten page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Stammdaten</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="Stammdaten">
      <ion-segment-button value="Ansprechpersonen" (click)="clearSearchbarContactperson($event)">
        Ansprechpersonen
      </ion-segment-button>
      <ion-segment-button value="Kunden" (click)="clearSearchbarCustomer($event)">
        Kunden
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar #searchbar [(ngModel)]="searchString2" fullscreen (ionInput)="getItems($event)" placeholder="Person suchen..."></ion-searchbar>

  <div [ngSwitch]="Stammdaten">
      <ion-list *ngSwitchCase="'Ansprechpersonen'" fullscreen>
        <ion-item *ngFor="let item of contactperson" (click)="goToStammdateninfo(item)">
            <ion-avatar item-left>
              <ion-icon ios="ios-people" md="md-people" item-left></ion-icon>
            </ion-avatar>
            <h2>{{item.CONTACTPERSONGIVENNAME}} {{item.CONTACTPERSONSURNAME}}</h2>
          </ion-item>
      </ion-list>
  </div>

  <div [ngSwitch]="Stammdaten">
      <ion-list *ngSwitchCase="'Kunden'" fullscreen>
        <ion-item *ngFor="let item of customers" (click)="goToStammdateninfo(item)">
            <ion-avatar item-left>
              <ion-icon ios="ios-person" md="md-person" item-left></ion-icon>
            </ion-avatar>
            <h2>{{item.CUSTOMERGIVENNAME}} {{item.CUSTOMERSURNAME}}</h2>
          </ion-item>
      </ion-list>
  </div>
</ion-content>