page-home {
  .large-button{
    //height:19.9%;
    //margin-bottom:0.20%;
    height: 24.9%;
    margin-bottom: 0.20%;
    margin-top:0;
  }
  .toolbar-ios ion-title{
    padding:0;
  }
  .logo
  {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }

  .logo-left{
    position: absolute;
    left:5px;
  }

  .logo-right{
    position: absolute;
    right:5px;
  }
}


