page-home {
  .large-button{
    //height:19.9%;
    //margin-bottom:0.20%;
    height: 24.9%;
    margin-bottom: 0.20%;
    margin-top:0;
  }
  .toolbar-ios ion-title{
    padding:0;
  }
  .logo
  {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }

  .logo-left{
    position: absolute;
    left:5px;
  }

  .logo-right{
    position: absolute;
    right:5px;
  }

  .speech-right {
    position:relative;
    bottom: 62px;
    left:30%;
    text-align:center;
    max-width: 68%;
    padding:14px 14px;
    color:#000;
    /* css3 */
    background: #f8f8f8;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:40px;
    border: 2px solid #434341;
  }
  /*creates the triangle */
  .speech-right:after {
    content:"";
    position:absolute;
    bottom:-15px;
    right:23px;
    border-width:0 15px 15px 0px;
    border-style:solid;
    border-color:transparent #f8f8f8;
  /*reduce the damage in FF3.0*/
    display:block;
    width:0;
  }
}


