<ion-header>
  <ion-toolbar>
        <ion-title>Mobiles CRM & Ticketmanagement</ion-title>
        <ion-buttons end>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon ios="ios-cog" md="md-cog"></ion-icon>
          </button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <button ion-button full (click)="goToLeistungErfassen()" class="large-button" style="background: url(img/leistung.jpg); background-size:100%;">Leistung erfassen</button>
  <button ion-button full (click)="goToDiaetErfassen()" class="large-button" style="background: url(img/diaet.jpg); background-size:100%;">Diät erfassen</button>
  <button ion-button full (click)="goToAufzeichnungenSynchronisieren()" class="large-button" style="background: url(img/aufzeichnungen.jpg); background-size:100%;">Aufzeichnungen/Synchronisieren</button>
  <button ion-button full (click)="gotToStammdaten()" class="large-button" style="background: url(img/stammdaten.jpg); background-size:100%;" >Stammdaten</button>
    <div [hidden]="!clicked" [ngClass]="{'speech-right': clicked}">We integrate your daily business!</div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="logo">
            <a href="#" (click)="launch()">
                <img src="img/logo.png" height="100%" class="logo-left"/>
            </a>
            <a (click)="showSpeechbubble()">
                <img src="img/lizzard.png" height="100%" class="logo-right"/>
            </a>
        </div>
    </ion-toolbar>
</ion-footer>
<!--
<ion-footer>
    <ion-toolbar>
        <div class="logo">
            <a href="#" (click)="launch()">
                <img src="img/logo.png" height="100%" class="logo-left"/>
                <img src="img/lizzard.png" height="100%" class="logo-right"/>
            </a>
        </div>
  </ion-toolbar>
</ion-footer>-->